*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../images/background.png");
    background-size: cover;
    background-attachment: fixed;
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url("../images/background-dark.png");
        background-size: cover ;
        background-attachment: fixed;
    }
}

/*nav{*/
/*    background-color: #af60b8;*/
/*}*/
#onglets ul li:hover, #btn-connection:hover {
    transition-duration: 0.1s;
    text-shadow: #3c3c3c 2px 1px 2px;
}

#onglets ul li, #btn-connection {
    transition-duration: 0.2s;
}