@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$violet-light: #af60b8;
$violet-dark: #4f005a;
$rose-light: #fbbcff;
$rose-dark: #955d9d;
$bleu-light: #8ac5ff;
$bleu-dark: #0068b2;
$intermediate-light: #acb7ff;
$intermediate-dark: #495aa0;
$primary: $intermediate-light;

html {
  background-color: $intermediate-light !important;
}

body {
    background-color: $intermediate-light !important;
}
footer {
    width: 20%;
}
.hero-head {
    background-color: $violet-light;
}
.hero-body {
    background-color: $intermediate-light;
}
a.navbar-item:hover {
    background-color: $rose-light !important;
}
.navbar-item{
    font-size: 1.25em;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-dropdown {
    background-color: $violet-light !important;
}
.hero.is-primary a.navbar-item:hover, .hero.is-primary a.navbar-item.is-active, .hero.is-primary .navbar-link:hover, .hero.is-primary .navbar-link.is-active {
  background-color: $rose-light !important;
  color: #fff;
}
a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  background-color: $rose-light !important;
  color: #fff;
}
.navbar-item .has-dropdown .is-hoverable:hover {
  background-color: $rose-light !important;
  color: #fff;
}
.navbar-link:active, .navbar-link:enabled, .navbar-link.is-active  {
  background-color: $rose-light !important;
  color: #fff;
}
.hero.is-primary .navbar-item:hover, .hero.is-primary .navbar-link {
  background-color: $violet-light !important;
}
.navbar-item .navbar-divider {
  background-color: $rose-light !important;
}
.navbar-link {
  color: #fff !important;
}
.hero.is-primary .navbar-item, .hero.is-primary .navbar-link {
  color: white !important;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: white !important;
}
.icon {
  margin-right: 0.25em;
}
.navbar-item img {
  margin-right: 0.5em;
}
.navbar-item {
  margin-right: 1.75em;
}

.navbar-end form .control{
  min-width: 25em;
}
.has-dropdown .navbar-item {
  margin-right: 0;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: #acb7ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}
@media screen and (max-width: 1023px) {
  .hero.is-primary .navbar-menu
  {
  background-color: $violet-light !important;
  }
}
@media screen and (max-width: 1023px) {
  .navbar-item
  {
    align-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    display: flex !important;
  }
}
#banner-container{
  display: contents !important;
  background-color: $rose-light !important;
}
#banner{
  max-width: 80%;
  margin: auto;
  background-color: $rose-light !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}
.fiche-responsive{
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  position: absolute;
}
.fiche-responsive-style-1{
  width: 5vw;
  height: 5vw;
}
.fiche-responsive-style-2{
  width: 7.5vw;
  height: 7.5vw;
}
.fiche-responsive-style-3{
  width: 10vw;
  height: 10vw;
}
.slot-container {
	  display: flex;
      justify-content: center;
      align-items: center;
}


.slot {
	justify-content: space-between;
	display: flex;
}

.items li{

	width: 200px;
	height: 200px;
	font-size: 70px;
	list-style: none;
	text-align: center;
	position: relative;
	line-height: 1.6em;
}

.box {
	box-shadow: inset 0 2px 8px rgba(0,0,0,.1);
	border-radius: 100%;
	position: relative;
	overflow: hidden;
    width: 7.5vw;
    height: 7.5vw;
    object-fit: cover;
    object-position: center;

}

.items {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	transition: all .3s ease;
}
.hero.is-primary {
  margin-bottom: 20%;
}
// Import only what you need from Bulma
@import "../../static/css/bulma/sass/utilities/_all.sass";
@import "../../static/css/bulma/sass/base/_all.sass";
@import "../../static/css/bulma/sass/elements/button.sass";
@import "../../static/css/bulma/sass/elements/container.sass";
@import "../../static/css/bulma/sass/elements/title.sass";
@import "../../static/css/bulma/sass/form/_all.sass";
@import "../../static/css/bulma/sass/components/navbar.sass";
@import "../../static/css/bulma/sass/layout/hero.sass";
@import "../../static/css/bulma/sass/layout/section.sass";