    <!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <title>Geek-Compagnon</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css" integrity="sha256-AbA177XfpSnFEvgpYu1jMygiLabzPCJCRIBtR5jGc0k=" crossorigin="anonymous">
    <script src={{ url_for('static', filename='js/particles.min.js') }}></script>
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/bulma.css')}}" rel="stylesheet">


    {% assets 'css' %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% block head %}
    {% endblock %}
</head>
<body style="overflow: hidden;">
    <section class="hero is-primary is-fullheight-with-navbar">
        <div class="hero-head">
            <nav class="navbar is-spaced">
                <div class="container">
                    <div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar">
                            <a href="{{ url_for('index') }}" class="navbar-item">
                                <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="Icône Geek-Compagnon">
                            </a>
                            <a href="" class="navbar-item">
                                <span class="icon is-large is-left">
                                  <i class="fas fa-pen-to-square is-primary"></i>
                                </span>
                                <span>Contribuer!</span>
                            </a>
                            <a href="" class="navbar-item">
                                <span class="icon is-medium is-left">
                                    <i class="fas fa-comments is-primary"></i>
                                </span>
                                <span>Forum</span>
                            </a>
                            <a href="" class="navbar-item">
                                <span class="icon is-medium is-left">
                                  <i class="fas fa-rectangle-list is-primary"></i>
                                </span>
                                <span>Collections</span>
                            </a>
                        </div>
                        <div class="navbar-end">
                            <form method="post" action="">
                            <p class="control has-icons-right">
                                <input class="input is-medium is-rounded" type="text" placeholder="Rechercher...">
                                <span class="icon is-medium is-right">
                                    <i class="fas fa-magnifying-glass is-align-content-center is-center"></i>
                                </span>
                            </p>
                            </form>
                            {% if not connected %}
                            <a href="{{ url_for('login') }}" class="navbar-item">
                                <span class="icon is-medium is-left">
                                  <i class="fas fa-sign-in-alt is-primary"></i>
                                </span>
                                <span>Connexion</span>
                            </a>
                            {% endif %}
                            {% if connected %}
                                <div class="navbar-item has-dropdown is-hoverable">
                                    <a class="navbar-link">
                                    {% if current_user.url_image is not none %}
                                        <img src="{{ current_user.url_image }}" alt="Icône Profil">
                                    {% else %}
                                        <img src="{{ url_for('static', filename='images/default-profile.png') }}" alt="Icône Profil">
                                    {% endif %}
                                        <span>{{ current_user.pseudo }}</span>
                                    </a>
                                    <div class="navbar-dropdown">
                                        <a class="navbar-item">
                                        <span class="icon is-medium is-left">
                                              <i class="fas fa-image-portrait is-primary"></i>
                                        </span>
                                        <span>Profil</span>
                                        </a>
                                        <hr class="navbar-divider">
                                        <a class="navbar-item">
                                          <span class="icon is-medium is-left">
                                              <i class="fas fa-rectangle-list is-primary"></i>
                                          </span>
                                          <span>Mes Collections</span>
                                        </a>
                                        <a class="navbar-item">
                                            <span class="icon is-medium is-left">
                                                <i class="fas fa-chart-pie is-primary"></i>
                                            </span>
                                            <span>Statistiques</span>
                                        </a>
                                        <a class="navbar-item">
                                            <span class="icon is-medium is-left">
                                                <i class="fas fa-gears is-primary"></i>
                                            </span>
                                            <span>Paramètres</span>
                                        </a>
                                        <hr class="navbar-divider">
                                        <a class="navbar-item" href="{{ url_for('logout') }}">
                                            <span class="icon is-medium is-left">
                                                <i class="fas fa-right-from-bracket is-primary"></i>
                                            </span>
                                            <span>Déconnexion</span>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        {% block navbar %}
        {% endblock %}
        <div class="hero-body">
            {% block content %}
            {% endblock %}
        </div>
    </section>
</body>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
{% block footerscript %}
{% endblock %}
</html>