<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"/>
    <title>Geek-Compagnon</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"
          integrity="sha256-AbA177XfpSnFEvgpYu1jMygiLabzPCJCRIBtR5jGc0k=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/fontawesome.min.css"
          integrity="sha512-cHxvm20nkjOUySu7jdwiUxgGy11vuVPE9YeK89geLMLMMEOcKFyS2i+8wo0FOwyQO/bL8Bvq1KMsqK4bbOsPnA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet">


    {% assets 'css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% block head %}
    {% endblock %}
</head>
<body class="flex flex-col min-h-screen">
<nav class="bg-chartmagenta-400 dark:bg-chartmagenta-800 border-gray-200 px-2 sm:px-4 py-2.5 fixed w-screen h-20 z-20">
    <div class="container flex flex-wrap items-center justify-between mx-auto text-white">
        {# Logo #}
        <a href="{{ url_for('index') }}" class="navbar-item flex items-center">
            <img class="w-1/3 h-1/3" src="{{ url_for('static', filename='images/favicon.png') }}" alt="Logo Geek-Compagnon">
        </a>

        {# Onglets #}
        <div id="onglets" class="items-center no-underline text-white hidden w-1/3 md:flex" id="mobile-menu-language-select">
            <ul class="flex flex-col p-4 mt-4 md:flex-row md:space-x-8 md:mt-0 justify-between">
                <li>
                    <a href="{{ url_for('contribuer') }}"
                       class="block py-2 pl-3 pr-4 text-white hover:text-chartpink-200 rounded md:p-0 no-underline"
                       aria-current="page">
                        <span class="w-1/3 h-1/2 ">
                          <i class="fa-regular fa-pen-to-square"></i>
                        </span>
                        <span class="hover:text-slate-100">Contribuer !</span>
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="block py-2 pl-3 pr-4 text-white hover:text-chartpink-200 rounded md:p-0 no-underline">
                       <span class="w-1/3 h-1/2">
                            <i class="fa-regular fa-comments"></i>
                        </span>
                        Forum
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="block py-2 pl-3 pr-4 text-white hover:text-chartpink-200 rounded md:p-0 no-underline">
                        <span class="w-1/3 h-1/2 ">
                          <i class="fa-regular fa-rectangle-list"></i>
                        </span>
                        Collections
                    </a>
                </li>
            </ul>
        </div>
        {# Fin onglet #}

        {# condition connection#}
        {% if not connected %}
            <div class="flex items-center md:order-2">
                <a id="btn-connection" href="{{ url_for('login') }}" class="navbar-item text-white no-underline">
                    <span class="icon is-medium is-left">
                      <i class="fas fa-sign-in-alt is-primary"></i>
                    </span>
                    <span>Connexion</span>
                </a>
            </div>
        {% endif %}
        {% if connected %}
            {# Bouton user img - pseudo#}
            <div class="flex items-center md:order-2 relative" x-data="{ isOpen: false }" @click.away="isOpen = false">
              <button x-bind:class="{ 'hover:bg-chartpink dark:hover:bg-gray-700 dark:hover:text-white': !isOpen }"
                      type="button"
                      @click="isOpen = !isOpen"
                      class="inline-flex items-center justify-center px-4 py-2 text-sm rounded-lg cursor-pointer">
                {% if current_user.url_image is not none %}
                  <img src="{{ current_user.url_image }}" class="w-10 h-10 object-cover mr-8" alt="Icône Profil">
                {% else %}
                  <img src="{{ url_for('static', filename='images/default-profile.png') }}" alt="Icône Profil">
                {% endif %}
                {{ current_user.pseudo }}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 ml-2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                </svg>
              </button>

                {# Dropdown#}
              <div x-show="isOpen" class="z-50 absolute right-4 top-16 text-base list-none bg-chartpink-400 text-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700"
                   id="menuDropdown">
                    <ul class="py-2" role="none">
                        <li>
                            <a href="#"
                               class="block px-4 py-2 text-sm hover:bg-chartpink dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                               role="menuitem">
                                <div class="inline-flex items-center">
                                    Profil
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               class="block px-4 py-2 text-sm hover:bg-chartpink dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                               role="menuitem">
                                <div class="inline-flex items-center">
                                    Mes collections
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               class="block px-4 py-2 text-sm hover:bg-chartpink dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                               role="menuitem">
                                <div class="inline-flex items-center">
                                    Statistiques
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               class="block px-4 py-2 text-sm hover:bg-chartpink dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                               role="menuitem">
                                <div class="inline-flex items-center">
                                    Paramètres
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}"
                               class="block px-4 py-2 text-sm hover:bg-chartpink dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                               role="menuitem">
                                <div class="inline-flex items-center">
                                    Déconnexion
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <button data-collapse-toggle="mobile-menu-language-select" type="button"
                        class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="mobile-menu-language-select" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6" fill="currentColor" aria-hidden="true" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                              clip-rule="evenodd"></path>
                    </svg>
                </button>
            
            </div>
        {% endif %}

        {# searchbar #}

        {#        <button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search" aria-expanded="false" class="md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 mr-1">#}
        {#            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
        {#                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>#}
        {#            </svg>#}
        {#            <span class="sr-only">Search</span>#}
        {#        </button>#}
        <div class="relative hidden md:block w-1/3">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                          clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Search icon</span>
            </div>
            <input type="text" id="search-navbar"
                   class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="Search...">
            <div id="search-results" class="absolute w-full rounded bg-chartpink-200 text-gray-800 h-24 overflow-y-auto search-results-container hidden" style="">
            </div>
        </div>
        {#        <button data-collapse-toggle="navbar-search" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-search" aria-expanded="false">#}
        {#            <span class="sr-only">Open menu</span>#}
        {#            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
        {#                <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>#}
        {#            </svg>#}
        {#        </button>#}

        {# Fin searchbar #}
    </div>
</nav>
{% block banner %}
{% endblock %}
<section class="w-full min-h-screen md:p-6">
{% block content %}
{% endblock %}
</section>
</body>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
    <script src="{{ url_for('static', filename='js/searchbar.js') }}"></script>
{% block footerscript %}
{% endblock %}
</html>