{% extends "public/base.html" %}
{% block head %}
    <script src="https://unpkg.com/htmx.org@1.9.2/dist/htmx.min.js"></script>
{% endblock %}
{% block banner %}
{% endblock %}
{% block content %}
        <h1 class="col-span-4 text-center text-3xl p-6 mx-4 bg-gradient-to-b from-chartpurple-600 to-chartpurple-400 text-white shadow rounded-xl">Bibliothèque</h1>

        <div class="grid grid-cols-4 gap-4 m-4" hx-trigger="intersect once" hx-swap="afterend" hx-get="/bibliotheque/{{ idtype + "/" if idtype != "all" else "all/" }}{{ idfiltre+"/" if idfiltre != ""}}{{ numstart + 12}}">

            {% for b in bibliotheque %}
                <div class="col-span-1 p-6 flex flex-col bg-gradient-to-b from-chartblue-600 to-chartblue-200 rounded-lg">
                    <div>
                        {{ b.nom }}
                    </div>
                    <div>
                        {{ b.date_sortie.strftime('%d-%m-%Y') }}
                    </div>
                    <img class="py-2" src="{{ url_for('static', filename=b.url_image.replace("static/", "")) }}" alt="image">
                </div>
            {% endfor %}
        </div>
{% endblock %}
