{% extends "public/base.html" %}
{% block head %}
    <title>Connexion</title>
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
 <form action="{{ url_for('login') }}" method="post">
  <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
      {% endwith %}
    <label for="pseudo"><b>Username</b></label>
    <input type="text" placeholder="Entrez votre nom d'utilisateur" name="pseudo" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Entrez votre mot de passe" name="password" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Se souvenir de moi
    </label>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
{% endblock %}
