{% extends "public/base.html" %}
{% block head %}
    <script src="https://unpkg.com/htmx.org@1.9.2/dist/htmx.min.js"></script>
{% endblock %}
{% block banner %}
{% endblock %}
{% block content %}
    <div class="grid grid-cols-1 flex justify-center mt-2 md:mt-0">
    <div id="truc" hx-trigger="intersect once" hx-swap="afterend" hx-get="/ma-bibliotheque/{{ current_user.pseudo + "/" }}{{ idtype + "/" if idtype != "all" else "all/" }}{{ idfiltre+"/" if idfiltre != ""}}{{ numstart + 10}}">
        {% if my_bibliotheque | length == 0 %}
        <div class="text-center">
            <h1 class="text-2xl">Il semble que aucun résultat ne corresponde à vos critères</h1>
        </div>
        {% endif %}
        {% for mb in my_bibliotheque %}
            <div>
                {{ mb.nom }}
            </div>
            <div>
                <span>Ajouté le {{ mb.date_ajout.strftime('%d-%m-%Y à %HH%M')}}</span>
            </div>
            {% if mb.note is not none %}
                <div>
                    {{ mb.note }}
                </div>
            {% endif %}
            <img src="{{ url_for('static', filename=mb.url_image.replace("static/", "")) }}" alt="image">
        {% endfor %}
    </div>
    </div>
{% endblock %}