<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Page test</title>
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
</head>
<body class="flex justify-center">
    <form class="grid grid-cols-1 w-1/2 border-2 border-gray-100 rounded-lg shadow-sm p-4 mt-4 mb-6" method="post" action="{{ url_for('ajouter_fiche') }}" id="globalform">
        <h1 class="text-xl font-semibold">Ajouter une fiche</h1>
        {#Radio bouton#}
        <div id="radio-type" class="grid grid-cols-6 p-2 mb-2">
            <div class="flex items-center col-span-1">
                <input id="default-radio-1" type="radio" value="Médias" name="radio-type" onchange="radioChange()" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="default-radio-1" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Médias</label>
            </div>

            <div class="flex items-center col-span-1">
                <input  id="default-radio-2" type="radio" value="Transmédia" name="radio-type" onchange="radioChange()" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="default-radio-2" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Transmédia</label>
            </div>

            <div class="flex items-center col-span-1">
                <input  id="default-radio-3" type="radio" value="Culturel" name="radio-type" onchange="radioChange()" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="default-radio-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Culturel</label>
            </div>
        </div>
        {#Fin radio bouton#}
        {# Only média & transmédia#}
        <div id="test-media" class="hidden mb-6">
            <label for="nom-succes" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom du succés</label>
            <input id="nom-succes" name="nom-succes-input" type="text" class="w-2/3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>

        <div id="test-media" class="hidden mb-6">
            <label for="description-succes" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description du succés</label>
            <input id="description-succes" name="description-succes-input" type="text" class="w-2/3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        {# Fin only média & transmédia#}


        <div class="mb-6">
            <label for="nom-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
            <input type="text" id="nom-input" name="nom-input" class="w-2/3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>

        {# Nom alternatif - Créer tag simple #}
        <div class="grid grid-col-2">
            <div class="flex flex-wrap items-center">
              <input id="alternative-name-tag" name="alternative-name-tag" class="bg-gray-200 rounded-full px-3 py-1 mr-2" type="text" placeholder="Ajouter un nom alternatif">
              <button id="create-tag-button" class="bg-blue-500 text-white py-2 px-4 rounded-full">Créer</button>
            </div>
            <div id="alternative-name-tag-list" class="flex flex-wrap"></div>

            <div class="flex flex-wrap mt-2" id="alternative-name-tag-list"></div>
        </div>

        {# Date de sortie element culturel #}
        <div id="only-culturel" class="hidden mb-6">
            <label for="releaseDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date de sortie</label>
            <input id="releaseDate" name="releaseDate" type="date" class="w-2/3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>

        <div class="mb-6">
            <label for="synopsis-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Synopsis</label>
            <textarea type="text" id="synopsis-input" name="synopsis-input" class="w-2/3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
        </div>

        <div class="mb-6">
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Infos</label>
            <input type="text" id="infos-input" name="infos-input" class="w-2/3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>

        <div class="mb-6">
            <label for="concepteur-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Concepteur</label>
            <input type="text" id="concepteur-input" name="concepteur-input" class="w-2/3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>

        {# Média et transmedia only#}
        <div class="mb-6">
            <label for="titre-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Titre</label>
            <input type="text" id="titre-input" name="titre-input" class="w-2/3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>

        <div class="mb-6">
            <label for="description-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
            <textarea type="date" id="description-input" name="description-input" class="w-2/3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
        </div>
        {# Fin média et transmedia only#}

        <label class="relative inline-flex items-center cursor-pointer">
          <input type="checkbox" value="adulte-checkbox" class="sr-only peer">
          <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
          <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Contenu adulte</span>
        </label>

        {# Genre média only média#}
        <label for="media-type-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Type de média</label>
        <select id="media-type-input" name="media-type-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="livre">Livre</option>
          <option value="film">Film</option>
          <option value="serie">Série</option>
          <option value="jeu-video">Jeu vidéo</option>
        </select>

        {#EAN13#}
        <div class="mt-6">Ajouter EAN13</div>
        <div class="flex flex-wrap">
          <div class="w-full md:w-1/2 p-2">
            <input type="text" class="form-input w-full border border-gray-400 rounded-lg p-2" id="ean-input-1" name="ean-input-1">
          </div>
          <div class="w-full md:w-1/2 p-2">
            <button class="bg-blue-500 text-white p-2 rounded-lg hover:bg-blue-600 add-input" id="add-button-1">Ajouter</button>
          </div>
        </div>


        {#Dropdown tag genre#}
        <label for="select-genre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selectionner des genres</label>
        <input type="search" id="genre-search" onkeyup="filterFunction()">
        <select multiple id="select-genre" name="select-genre" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            {% for genre in genres %}
                <option value="{{ genre.nom_genres }}">
                    <label for="">{{ genre.nom_genres }}</label>
                </option>
            {% endfor %}
        </select>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div id="show-selected-genre"></div>
    {#btn envoie#}
    <a class="mt-6 mb-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" id="upload-btn" href="#">Valider la fiche</a>
    </form>
        {{ dropzone.config(custom_init='dz = this;document.getElementById("upload-btn").addEventListener("click", function handler(e) {if(document.getElementById("nom-input").value != 0){dz.processQueue();}});', id='dz', custom_options='autoProcessQueue: false, addRemoveLinks: true, parallelUploads: 1, redirectView: "test"' ) }}
        {{ dropzone.create(action=url_for('ajouter_fiche'), id='dz') }}



</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
<script>
    $.ready($('input[name="radio-type"]').prop('checked', false));
{#script tag#}
    const input = document.getElementById("alternative-name-tag");
    const tagList = document.getElementById("alternative-name-tag-list");

    var nbTag = 0;

    const createTagButton = document.getElementById("create-tag-button");
    createTagButton.addEventListener("click",
        function () {
            createTag();
        });

    function createTag(){
      const tagValue = input.value.trim();
      if(!tagValue) {
            alert("Le tag ne peut pas être vide.");
            return;
        }

      // créer un élément de tag
      const tag = document.createElement("input");
      tag.classList.add("bg-blue-200", "text-blue-800", "rounded-full", "px-3", "py-1", "mr-2", "font-medium");
      tag.setAttribute('id', 'alternative-name-'+nbTag);
      tag.setAttribute('name', 'alternative-name-'+nbTag);
      tag.setAttribute('disabled', true);

      tag.textContent = tagValue;
      tag.setAttribute('value', tagValue);

        // créer un bouton de suppression
        const button = document.createElement("button");
        button.classList.add("text-red-500", "hover:text-red-700");
        button.innerHTML = `
          <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        `;

        nbTag++;

        button.addEventListener("click", function() {
            tagList.removeChild(tag);
        });

        // ajouter le bouton de suppression au tag
        tag.appendChild(button);

        // ajouter le tag à la liste
        tagList.appendChild(tag);

        // réinitialiser l'input
        input.value = "";
        event.preventDefault();
    }

{#add ean13 field#}
let inputCounter = 2;

const addInputHandler = (event) => {
    const parent = event.target.parentNode;
    const input = document.createElement('input');
    input.type = 'text';
    input.classList.add('form-input', 'w-full', 'border', 'border-gray-400', 'rounded-lg', 'p-2', 'm-2');
    input.id = `ean-input-${inputCounter}`;
    input.name = `ean-input-${inputCounter}`;
    parent.insertAdjacentElement('beforeend', input);

    const button = document.createElement('button');
    button.innerText = 'Ajouter';
    button.classList.add('bg-blue-500', 'text-white', 'p-2', 'rounded-lg', 'hover:bg-blue-600', 'add-input');
    button.id = `add-button-${inputCounter}`;
    parent.insertAdjacentElement('beforeend', button);

    button.addEventListener('click', addInputHandler);
    event.preventDefault();

    inputCounter++;
};

document.querySelector('.add-input').addEventListener('click', addInputHandler);


{# select multiple genre #}
const select = document.querySelector('#select-genre');
const selectedOptions = document.querySelector('#show-selected-genre');

select.addEventListener('change', (event) => {
  selectedOptions.innerHTML = '';
  for (const option of select.selectedOptions) {
    const span = document.createElement('span');
    span.classList.add('bg-gray-200', 'rounded-full', 'px-2', 'py-1', 'mr-2');
    span.innerText = option.text;
    selectedOptions.appendChild(span);
    event.preventDefault();

  }
});

{# filtre #}
function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("genre-search");
    console.log(input);

  filter = input.value.toUpperCase();
  div = document.getElementById("select-genre");
  a = div.getElementsByTagName("option");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

{#Affichage conditionnel selon radio bouton#}
function radioChange(){
var radioType = document.querySelector('input[name="radio-type"]:checked').value
    if(radioType == 'Médias'){
        $('#test-media').removeClass('hidden');
        $('#only-culturel').addClass('hidden');
        $('#media-type').removeClass('hidden');

    }
    else if(radioType == 'Transmédia'){
        console.log('hello');
        $('#test-media').removeClass('hidden');
        $('#only-culturel').addClass('hidden');
        $('#media-type').addClass('hidden');

    }
    else if(radioType == 'Culturel'){
        $('#test-media').addClass('hidden');
        $('#only-culturel').removeClass('hidden');
        $('#media-type').addClass('hidden');

    }
    else{
        $('#test-media').addClass('hidden');
        $('#only-culturel').addClass('hidden');
        $('#media-type').addClass('hidden');
    }
}

{# Upload des images #}
    const link = document.querySelector('#upload-btn');
    const form = document.querySelector('#globalform');

    // Ajouter un event listener pour le clic sur le lien
    link.addEventListener('click', (event) => {
      // Empêcher le comportement par défaut du lien (l'ouverture de la page liée)
      event.preventDefault();

      // Soumettre le formulaire associé
      form.submit();
      });
</script>
<script>
    dz.on("sending", function(file, xhr, formData) {
      // Récupérer les autres champs du formulaire
      var nom_input = $("#nom-input").val();

      // Ajouter les autres champs du formulaire à la requête
      formData.append("nom-input", nom_input);
    });
$("#submit").click(function(event) {
      // Empêcher la soumission du formulaire
      event.preventDefault();

      // Soumettre les fichiers téléchargés
      dz.processQueue();
    });
</script>
</html>
